<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title></title>
    </head>
    <body>
        <div id="app">
            <div id = "reviews">
            <h1 id="Mtitle">{{Mtitle}}</h1>
            <div id = "indicators">
                <span id = "MDepartment">{{MDepartment}}</span>
                <span id = "sep"> | </span>
                <span id = "Mmc">{{Mmc}}</span>
            </div>
            <hr></hr>
            <div id = "MDescription">{{Mdescription}}</div>
            <br></br>
            <h2 id = "PreclusionTitle">{{PreclusionTitle}}</h2>
            <hr></hr>
            <div id = "Preclusion">{{Preclusion}}</div>
            <br>
            <h2 id = "WorkloadTitle">Workload - {{totalHours}}</h2>
            <hr></hr>
            <h3 id = "Workload">{{Workload}}</h3>
            <div id = "Workloadviz">{{Workloadviz}}</div>
            <div id = "PrereqTitle">{{PrereqTitle}}</div>
            <div id = "PrereqTree">{{PrereqTree}}</div>
            <br></br>
            <h2 id = "FeedbackTitle">{{FeedbackTitle}}</h2>
            <hr></hr>  
            <h3 id = "OverallFeedbackNum">{{OverallFeedbackNum}}</h3>
            <div id = "StarsOuter">
                <div id = "StarsInner"></div>
            </div>
            <div></div>
            <div id = "ContentFeedback">Learning Contents: {{ContentFeedback}}</div>
            <div id = "sep"> | </div>
            <div id = "StaffFeedback">Staff and Administration: {{StaffFeedback}}</div>
            <br></br>
            <h4 id = "WrittenReviewsTitle">Written Reviews</h4>
            <hr></hr>
            <table :WrittenReviews = "WrittenReviews" :users = "users">
                <tbody :WrittenReviews = "WrittenReviews" :users = "users">
                    <tr v-for="[id, review] of Object.entries(WrittenReviews)">
                        <td id="username">{{users[id]}}</td>
                        <td>{{review}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <noscript>Please enable JavaScript to use vuePlan</noscript>
    </body>
</html>