<!DOCTYPE html>

<html>

<head>
  <title>vueplan Graduation Progress Page</title>
</head>

<body>
  <div class="row">
    <h2>Graduation Progress</h2>
  </div>

  <!-- Prompt user to log in -->
  <div class="row" v-if="!user.loggedIn">
    <router-link to="/login"><a>Please login first.</a></router-link>
  </div>

  <!-- Show page when user is logged in -->
  <div v-if="user.loggedIn">
    <div class = "row grad-prog-row">
      <label>Your major is: </label> <b> {{ major }}</b>
      <br>
      <label>Semesters completed: </label> <b> {{ sem_completed }}</b>
    </div>

    <div class="row grad-prog-row">
      <h4>University Level Requirements</h4>
    
      <table :records="get_ulr_table()">
        <thead>
          <tr>
            <th>University Level Requirment</th>
            <th>Module Selected</th>
            <th class="add-complete">Added</th>
            <th class="add-complete">Completed</th>
          </tr>
        </thead>
    
        <tbody :records= "get_ulr_table()">
          <tr v-for="(record, idx) in get_ulr_table()" v-bind:key="idx" >
            <td> {{record.ulr}}</td>
            <td> {{record.selected}}</td>
            <td class="add-complete"> {{record.added}}</td>
            <td class="add-complete"> {{record.completed}}</td>
          </tr>
        </tbody>
        </table>
      </div>

      <div class="row grad-prog-row">
        <h4>Programme Requirements</h4>
        <!-- table for programme requirements-->
        <table :records="get_pr_table()">
          <!-- table header -->
          <thead>
            <tr>
              <th>Programme Requirment</th>
              <th>Module Selected</th>
              <th class="add-complete">Added</th>
              <th class="add-complete">Completed</th>
            </tr>
          </thead>

          <!-- table body -->
          <tbody :records= "get_pr_table()">
            <tr v-for="(record, idx) in get_pr_table()" v-bind:key="idx" > 
                <td> {{record.requirement}}</td>
                <td> {{record.selected}}</td>
                <td class="add-complete"> {{record.added}}</td>
                <td class="add-complete"> {{record.completed}}</td>
            </tr>


          </tbody>
        </table>
      </div>

      <div class="row grad-prog-row">
        <h4>Unrestricted Electives</h4>

        <table :records="get_ue_table()">
          <thead>
            <tr>
              <th>8 Unrestricted Electives</th>
              <th>Module Selected</th>
              <th class="add-complete">Added</th>
              <th class="add-complete">Completed</th>
            </tr>
          </thead>
        
          <tbody :records="get_ue_table()">
            <tr v-for="(record, idx) in get_ue_table()" v-bind:key="idx" >
              <td> {{record.requirement}}</td>
              <td> {{record.selected}}</td>
              <td class="add-complete"> {{record.added}}</td>
              <td class="add-complete"> {{record.completed}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
