<html>

<body>

<br style = “line-height:10;”>

<h3>University Level Requirements</h3>

<table class="tg">
  <tr>
    <th class="tg-cly1">University Level Requirements</th>
    <th class="tg-cly1">You Took </th>
    <th class="tg-cly1">Status</th>
  </tr>
  <tr>
    <td class="tg-cly1">Human Cultures</td>
    <td class="tg-cly1">GEH1045 World Religions</td>
    <td class="tg-nrix">✓</td>
  </tr>
  <tr>
    <td class="tg-cly1">Thinking and Expression</td>
    <td class="tg-cly1">GET1029 Life, The Universe, And Everything</td>
    <td class="tg-nrix">✓</td>
  </tr>
  <tr>
    <td class="tg-cly1">Singapore Studies</td>
    <td class="tg-cly1"></td>
    <td class="tg-nrix"></td>
  </tr>
  <tr>
    <td class="tg-cly1">Asking Questions</td>
    <td class="tg-cly1"></td>
    <td class="tg-nrix"></td>
  </tr>
  <tr>
    <td class="tg-cly1">Quantitative Reasoning</td>
    <td class="tg-cly1">GER1000 Quantitative Reasoning</td>
    <td class="tg-nrix">✓</td>
  </tr>
</table>

<br style = “line-height:10;”>

<h3>Programme Requirements</h3>
<table class="tg">
  <tr>
    <th class="tg-0lax">Programme Requirements</th>
    <th class="tg-0lax">You Took</th>
    <th class="tg-baqh">Status</th>
  </tr>
  <tr>
    <td class="tg-0lax">BT1101 Introduction to Business Analytics</td>
    <td class="tg-0lax">BT1101 Introduction to Business Analytics</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">CS1010S Programming Methodology</td>
    <td class="tg-0lax">CS1010S Programming Methodology</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">EC1301 Principles of Economics</td>
    <td class="tg-0lax">EC1301 Principles of Economics</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">IS1103 Ethics in Computing</td>
    <td class="tg-0lax">IS1103 Ethics in Computing</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">MA1521 Calculus for Computing, or MA1102R Calculus</td>
    <td class="tg-0lax">MA1521 Calculus for Computing</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">MA1311 Matrix Algebra, or MA1101R Linear Algebra I</td>
    <td class="tg-0lax">MA1101R Linear Algebra I</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">MKT1705X Principles of Marketing</td>
    <td class="tg-0lax"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">BT2101 Decision Making Methods and Tools</td>
    <td class="tg-0lax">BT2101 Decision Making Methods and Tools</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">BT2102 Data Management and Visualisation</td>
    <td class="tg-0lax">BT2102 Data Management and Visualisation</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">CS2030 Programming Methodology I</td>
    <td class="tg-0lax">CS2030 Programming Methodology I</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">CS2040 Data Structures and Algorithms</td>
    <td class="tg-0lax">CS2040 Data Structures and Algorithms</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">IS2101 Business and Technical Communication</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax">ST2334 Probability and Statistics</td>
    <td class="tg-0lax">ST2334 Probability and Statistics</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">BT3102 Computational Methods for Business Analytics</td>
    <td class="tg-0lax">BT3102 Computational Methods for Business Analytics</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">BT3103 Application Systems Development for Business Analytics</td>
    <td class="tg-0lax">BT3103 Application Systems Development for Business Analytics</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">IS3103 Information Systems Leadership and Communication</td>
    <td class="tg-0lax"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">BT4103 Business Analytics Capstone Project</td>
    <td class="tg-0lax"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax" rowspan="6">6 Programme Electives</td>
    <td class="tg-0lax">BT4221 Big Data Techniques and Technologies</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax">IS4010 Industry Internship Programme8,or BT4101 B.Sc. Dissertation</td>
    <td class="tg-0lax">IS4010 Industry Internship Programme8,or BT4101 B.Sc. Dissertation</td>
    <td class="tg-baqh">✓</td>
  </tr>
</table>

<br style = “line-height:10;”>


<h3>Unrestricted Electives</h3>
<table class="tg">
  <tr>
    <th class="tg-0lax">8 Unrestricted Electives</th>
    <th class="tg-0lax">You Took</th>
    <th class="tg-baqh">Status</th>
  </tr>
  <tr>
    <td class="tg-0lax" rowspan="8"></td>
    <td class="tg-0lax">PL1101E Introduction to Psychology</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">GEM2025/PH2201 Introduction to Philosophy of Science</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">SE2218 Changing Economic Landscape of SE Asia</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">ACC1701X Accounting for Decision Makers</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax">SC1101E Making Sense of society</td>
    <td class="tg-baqh">✓</td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-baqh"></td>
  </tr>
</table>

  </body>
 
</html>
