<!DOCTYPE html>

<html>

<head>
  <title>vueplan Graduation Progress Page</title>
</head>

<body>
  <h2>Graduation Progress</h2>

  <div id="app">
      <br>
      <br>
      <h3>University Level Requirements</h3>
  
      <!-- table for university level requirements-->
      <table :records="ULRRecords">
        <!-- table header -->
        <thead>
          <tr>
            <th>University Level Requirment</th>
            <th>Module Taken</th>
            <th>Status</th>
          </tr>
        </thead>
  
        <!-- table body -->
        <tbody :records="ULRRecords">
          <tr v-for="record in ULRRrecords" v-bind:key="record" >
            <td>{{record.requirement}}</td>
            <td>{{record.moduleTaken}}</td>
            <td>{{record.status}}</td>
          </tr>
        </tbody>
      </table>
  
      <br>
      <br>
  
      <h3>Programme Requirements</h3>
  
      <!-- table for programme requirements-->
      <table :records="CoreRecords">
        <!-- table header -->
        <thead>
          <tr>
            <th>Programme Requirment</th>
            <th>Module Taken</th>
            <th>Status</th>
          </tr>
        </thead>
  
        <!-- table body -->
        <tbody :records="CoreRecords">
          <tr v-for="record in CoreRecords" v-bind:key="record" >
            <td>{{record.requirement}}</td>
            <td>{{record.moduleTaken}}</td>
            <td>{{record.status}}</td>
          </tr>
        </tbody>
      </table>
  
      <br>
      <br>
  
  
      <h3>Unrestricted Electives</h3>
  
      <!-- table for UE requirements-->
      <table :records="UERecords">
        <!-- table header -->
        <thead>
          <tr>
            <th>8 Unrestricted Electives</th>
            <th>Module Taken</th>
            <th>Status</th>
          </tr>
        </thead>
  
        <!-- table body -->
        <tbody :records="UERecords">
          <tr v-for="record in UERecords" v-bind:key="record" >
            <td>{{record.requirement}}</td>
            <td>{{record.moduleTaken}}</td>
            <td>{{record.status}}</td>
          </tr>
        </tbody>
      </table>
  
  
  
    </div>
</body>

</html>
