<!DOCTYPE html>

<html>

<head>
  <title>vueplan Graduation Progress Page</title>
</head>

<body>
 
  <h2>Graduation Progress</h2>

  <div id="app">
      <br>
      <br>
      <h3>University Level Requirements</h3>
  
      
      <table :records="get_ulr_table()">
       
        <thead>
          <tr>
            <th>University Level Requirment</th>
            <th>Module Taken</th>
            <th>Status</th>
          </tr>
        </thead>
  
        
        <tbody :records= "get_ulr_table()">
          <tr v-for="(record, idx) in get_ulr_table()" v-bind:key="idx" >
              <td> {{record.ulr}}</td>
              <td> {{record.taken}}</td>
              <td> {{record.status}}</td>
          </tr>
        </tbody>
      </table>
  
      <br>
      <br>

  
      <h3>Programme Requirements</h3>
  
      <!-- table for programme requirements-->
      <table :records="get_pr_table()">
        <!-- table header -->
        <thead>
          <tr>
            <th>Programme Requirment</th>
            <th>Module Taken</th>
            <th>Status</th>
          </tr>
        </thead>
        

        <!-- table body -->
        <tbody :records= "get_pr_table()">
          <tr v-for="(record, idx) in get_pr_table()" v-bind:key="idx" > 
              <td> {{record.requirement}}</td>
              <td> {{record.taken}}</td>
              <td> {{record.status}}</td>
          </tr>
          <!-- Programme electives hard coded. May need to change in the future-->
          <td>6 Programme Electives</td>
          <td> </td>
          <td>✘</td>

        </tbody>
      </table>
  
      <br>
      <br>
  

      <h3>Unrestricted Electives</h3>
  
      
      <table :records="get_ue_table()">
      
        <thead>
          <tr>
            <th>8 Unrestricted Electives</th>
            <th>Module Taken</th>
            <th>Status</th>
          </tr>
        </thead>
  
       
        <tbody :records="get_ue_table()">
          <tr v-for="(record, idx) in get_ue_table()" v-bind:key="idx" >
            <td> {{record.requirement}}</td>
            <td> {{record.taken}}</td>
            <td> {{record.status}}</td>
        </tr>
        </tbody>
      </table>
  
  
  

  </div>
</body>

</html>
