<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>MIDSEM PROJECT FINAL</title>
  <link rel="stylesheet" href="./modInfo.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   </head>
  <body>
    <div id = 'app'>
          <input id ='searchIn' type="text" v-model="search" placeholder="Search Module Code or Title..."/>
      <div id = 'res1'></div>
      <div id = 'res'></div>
      <div v-if = "search != ''">
        <ul id = 'modules'>
          <li v-for="mod in filteredList" v-on:click = 'modInfo(mod)'>
            {{mod.code}} {{mod.title}} 
        </li>
        </ul>

    </div>
   </body>
</html>
  <script  src="./modInfo.js"></script>

</body>
</html>
