#searchIn {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 14px; 
}

#modules {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#modules li{
  align-items: left;
  text-align: left;
  margin-top: -1px; /* Prevent double borders */
  padding: 12px; /* Add some padding */
  padding-right: 60px;
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  margin-bottom: 18px; 
}

#title{
  text-decoration: underline;
  line-height: 2pt;
  font-weight: bold;
  color: rgb(35, 97, 128);
}

#title:hover:not(.header) {
  color: rgb(7, 46, 66)
   
}

#info{
  font-size:15px;
  color:rgb(59, 59, 59);
}

#des{
  font-size: 15px;
  text-align: justify;
  margin-right: 8px;
}

#prec{
  font-size: 15px
}

#prer{
  font-size: 15px
}

#res {
  align-items: left;
  text-align: left;
  display: block;
  width: 60%;
}

#tree {
  font-size: 14px;
}

svg{
  border: 1px solid white;
}

span[id*="temp"]{
  text-decoration: underline;
  color: rgb(73, 118, 143);
}

#labels{
  font-weight: bold;
}

#sep {
  display: inline-block;
  white-space: pre-wrap;
}

#StarsOuter {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 20px;
}

#StarsOuter::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

#StarsInner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  font-size: 20px;
}
#ContentFeedback::after {
  content: " \f005";
}
#StaffFeedback::after {
  content: " \f005";
}
#StarsInner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
