#searchIn {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; 
}

#modules {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#tabody {
  width:65%;
}

#modules li{
  align-items: left;
  text-align: left;
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: whitesmoke; 
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#modules li:hover:not(.header) {
  background-color: rgb(190, 214, 226); /* Add a hover effect to all links, except for headers */
}

#res {
  align-items: left;
  text-align: left;
  display: block;
  width: 70%;
}

#StarsOuter {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 20px;
}

#StarsOuter::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  text-align: center;
}

.modal-container {
  width: 800px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

#closeReview {
  text-align: right;
}

.modal-body {
  text-align: left;
}
.modal-default-button {
  float: right;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#rating {
  padding-top: 5px;
}
#review {
  width: 750px;
}
#year {
  margin-left: 350px;
}
.one {
  width: 200px;
}
.rows {
  display: inline;
}
.spin {
  margin-left: 400px;
}
#writtenReview {
  margin-top: 40px;
}
#reviewChart {
  display: block;
  width:600px;
  height:300px;
}

#StarsInner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  font-size: 20px;
}
#StarsInner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
#OverallFeedbackNum {
  font-size: 42px;
  text-align: center;
  width: 600px;
}
#reviewOverall {
  width: 600px; 
  text-align: center;
}

#overall {
  text-align: center;
  font-size: 24px;
}