#searchIn {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 20px; 
}

#modules {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}


#tabody {
  width:800px;
}


#modules li{
  align-items: left;
  text-align: left;
  padding: 12px; /* Add some padding */
  padding-right: 60px;
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
 display: block; /* Make it into a block element to fill the whole list */
 margin-top: 18px; 
}


#title{
  text-decoration: underline;
  cursor: pointer;
  line-height: 2pt;
  font-weight: bold;
  color: rgb(35, 97, 128);
}

#title:hover:not(.header) {
  color: rgb(7, 46, 66);   
}

#info{
  font-size:15px;
  color:rgb(59, 59, 59);
}

#des{
  font-size: 15px;
  text-align: justify;
  margin-right: 8px;
}

#modDesc{
  text-align: justify;
}

#prec{
  font-size: 15px
}

#prer{
  font-size: 15px
}

#res {
  position: top;
  align-items: left;
  text-align: left;
  display: block;
  width: 85%;
}

#mod_title{
  margin-top: 18px; 
}

#tree {
  font-size: 14px;
}

svg{
  border: 1px solid white;
}

span[id*="temp"]{
  text-decoration: underline;
  cursor: pointer;
  color: rgb(73, 118, 143);
}


span[id*="temp"]:hover:not(.header) {
  color: rgb(7, 46, 66);  
}


#labels{
  font-weight: bold;
}

#StarsOuter {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 20px;
}

#StarsOuter::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  text-align: center;
}

.modal-container {
  width: 52.5vw;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

#closeReview {
  text-align: right;
}

.modal-body {
  text-align: left;
}
.modal-default-button {
  float: right;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

#rating {
  padding-top: 5px;
}
#review {
  width: 750px;
}
#year {
  margin-left: 21vw;
}
.one {
  width: 200px;
}
.rows {
  display: inline;
}
.spin {
  margin-left: 400px;
}
.btn {
  margin-top: 0px;
  background-color: #24305E;
  color: #fff;
  border-color: #24305E;
  height: auto;
  width: 100%;
  vertical-align: middle;
}
#writtenReview {
  margin-top: 40px;
  width: 46vw;
}
#reviewChart {
  display: block;
  width: 800px;
  height: 400px;
}

#StarsInner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  font-size: 20px;
}
#StarsInner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
#OverallFeedbackNum {
  font-size: 42px;
  text-align: center;
  width: inherit;
}
#reviewOverall {
  width: inherit;
  text-align: center;
}

#overall {
  text-align: center;
  font-size: 24px;
}
#res_review {
  width: inherit;
}