<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>MIDSEM PROJECT FINAL</title>
   </head>
  <body>
    <div id = 'app'>
          <input id ='searchIn' type="text" v-model="search" placeholder="Search Module Code or Title..."/>
      <div id = 'res1'></div>
      <div class = "info" id = 'res'></div>

      <div v-if = "search != ''">
        <ul id = 'modules'>
          <li v-for="mod in filteredList" v-on:click = 'modInfo(mod)'>
            {{mod.code}} {{mod.title}} 
        </li>
        </ul>

    </div> </div>
   </body>
</html>
