<!DOCTYPE html>

<html>
  <head>
    <title>SEP Module Mapping Page</title>
  </head>
  
  <body>
    <div class="row">
      <h2>SEP Module Mappings</h2>
    </div>

    <!-- Prompt user to log in -->
    <div class="row" v-if="!user.loggedIn">
      <router-link to="/login"><a>Please login first.</a></router-link>
    </div>

    <!-- Show page when user is logged in -->
    <div v-if="user.loggedIn">
      <div class="row multiselect-module">
        <!-- Filter by PU -->
        <div class = "multiselect_title">
          <label>Filter by Partner Universities</label>
        </div>
        <multiselect 
          v-model="pus" 
          :options="allPus" 
          :multiple="true" 
          :close-on-select="false" 
          :clear-on-select="false" 
          :preserve-search="true" 
          placeholder="Select Partner University" 
          :preselect-first="false">
          <!-- 
          group-values="all"
          group-label="selectAll"
          :group-select="true"
          -->
          <template class="select-option" slot="selection" slot-scope="{ values, search, isOpen }">
            <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} PUs selected</span>
          </template>
        </multiselect>
      </div>

      <div class="row multiselect-module">
        <!-- Filter by Course -->
        <div class = "multiselect_title">
          <label>Filter by Courses*</label>
        </div>
        <multiselect 
          v-model="courses" 
          :options="Object.keys(allmajors)" 
          :multiple="true" 
          :close-on-select="false" 
          :clear-on-select="false" 
          :preserve-search="true" 
          placeholder="Select Course" 
          :preselect-first="false" 
          :allow-empty="false"
          open-direction="bottom">
          <template slot="selection" slot-scope="{ values, search, isOpen }">
          </template>
        </multiselect>
      </div>
        
      <div class="row">
        <table class="datatable" :sepMappings="sepMappings" pus="pus" courses="courses">
          <!-- table header -->
          <thead>
            <tr>
              <th>Partner University</th>
              <th>NUS Module Code</th>
              <th>NUS Module Title</th>
              <th>MCs</th>
              <th>PU Module Code</th>
              <th>PU Module Title</th>
              <th>PU MCs</th>
            </tr>
          </thead>

          <tbody :sepMappings="sepMappings" pus="pus" courses="courses">
            <!-- Filter Course Only [Default] -->
            <tr v-for="mapping in sepMappings" v-show="!pus.length && courses.length && relevant(allmajors, mapping.nusModuleCode)">
              <td>{{mapping.pu}}</td>
              <td>{{mapping.nusModuleCode}}</td>
              <td>{{mapping.nusModuleTitle}}</td>
              <td>{{mapping.mcs}}</td>
              <td>{{mapping.puModuleCode}}</td>
              <td>{{mapping.puModuleTitle}}</td>
              <td>{{mapping.puMcs}}</td>
            </tr>
            <!-- Filter PU Only -->
            <tr v-for="mapping in sepMappings" v-show="pus.length && !courses.length && pus.includes(mapping.pu)">
              <td>{{mapping.pu}}</td>
              <td>{{mapping.nusModuleCode}}</td>
              <td>{{mapping.nusModuleTitle}}</td>
              <td>{{mapping.mcs}}</td>
              <td>{{mapping.puModuleCode}}</td>
              <td>{{mapping.puModuleTitle}}</td>
              <td>{{mapping.puMcs}}</td>
            </tr>
            <!-- Filter Course and PU -->
            <tr v-for="mapping in sepMappings" v-show="pus.length && courses.length && relevant(allmajors, mapping.nusModuleCode) && pus.includes(mapping.pu)">
              <td>{{mapping.pu}}</td>
              <td>{{mapping.nusModuleCode}}</td>
              <td>{{mapping.nusModuleTitle}}</td>
              <td>{{mapping.mcs}}</td>
              <td>{{mapping.puModuleCode}}</td>
              <td>{{mapping.puModuleTitle}}</td>
              <td>{{mapping.puMcs}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>