/* table generator */

/* SEPMapping filters for PU and University */
#filters {
  text-align: left;
}

/* headers for Grad Progress tables */
h3 {
  text-align: left;
}

select {
  color: #24305E;
  border-width: 0;
  padding-right: 25px;
}

table {
  align-items: left;
  border-collapse:collapse;
  border-spacing:0;
  border-color:#aaa;
}

/* table header */
th {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size:14px;
  font-weight:bold;
  padding:10px 5px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#aaa;
  color:#fff;
  background-color:#374785;
  text-align:center;
  vertical-align:middle;
}

/* table data */
td { 
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#aaa;
  color:#333;
  background-color:#fff;
}