<!DOCTYPE html>

<html>
  <head>
    <title>vueplan SEP Page</title>
  </head>
  
  <body>
    <div id = "profile">
        <h2> Update Profile </h2>

        <form action="#" @submit.prevent="save">
            <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                <div class="col-md-6">
                    <input
                        id="name"
                        type="name"
                        class="form-control"
                        name="name"
                        placeholder= "Enter your username"
                        value
                        autofocus
                        v-model="form.name"
                    />
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                <div class = "col-md-6 text-md-left"><!--{{ user.data.email }}--></div>

                <!-- <div class="col-md-6">
                    <input
                        id="email"
                        type="email"
                        class="form-control"
                        name="email"
                        value
                        required
                        autofocus
                        v-model="form.email"
                    />
                </div> -->
            </div>

            <div class="form-group row">
                <label for="year" class="col-md-4 col-form-label text-md-right">Year of Study</label>

                <div class="col-md-6">
                    <input
                        id="year"
                        type="year"
                        class="form-control"
                        name="year"
                        placeholder="Y1S1/Y1S2/Y2S1 etc."
                        value
                        autofocus
                        v-model="form.year"
                    />
                </div>
            </div>

            <div class = "form-group row">
                <label for="year" class="col-md-4 col-form-label text-md-right">Module Exemptions</label>
                <div class="col-md-6">
                    <multiselect v-model="form.exemptions" :options="Object.keys(allmodules)" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Select Exemption">
                        <template class="select-option" slot="selection" slot-scope="{ values, search, isOpen }">
                        </template>
                    </multiselect>
                </div>
            </div>

            <div class="form-group row mb-0">
                    <button type="save" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
  </body>
</html>