<html>
    <head>
    </head>
    <body>
        <!-- Prompt user to log in -->
        <div class="row" v-if="!user.loggedIn">
            <router-link to="/login"><a>Please login first.</a></router-link>
        </div>
  
        <!-- Show page when user is logged in -->
        <div v-if="user.loggedIn">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-1" v-for="semester in 8">
                    <draggable :list="acadplan[semester - 1]" class="list-group" handle=".handle" group="a">
                        <div slot="header" class="acad-plan-header">
                            <h6>{{num_semester_mapping[semester - 1]}}</h6>
                        </div>
                        <div class="list-group-item item" v-for="element in sorted_sems[semester - 1]" v-bind:data="sorted_sems"  :key="element.mod" v-bind:class="{ 'move-false': element.move===false }">
                            <button type="button" class="close" v-if="element.move===true" @click="delete_module(semester - 1, element)">
                                <font-awesome-icon icon="times" />
                            </button>
                            <span class="text module_code handle" v-if="element.move===true">{{ element.mod }}</span>
                            <br v-if="element.move===true">
                            <span class="text handle" v-if="element.move===true">{{ element.mc }} MCs</span>
                            <span class="text" v-if="element.move===false">Total: {{ element.mc }} MCs</span>
                        </div>
                    </draggable>
                </div>
                <!-- add module button -->
                <div class="col-3 add_feature">
                    <p class="inputTitle">Add Module</p>
                    <p>Use the textbox below to search and add modules.</p>
                    <form class="form-add">
                        <input type="text" class="input" list="allmodules" v-model="add_module_code"/>
                        <datalist id="allmodules">
                            <option class="datalist-style" v-for="(item, key) in allmodules" v-bind:key="key">
                                {{ item.fullname }}
                            </option>
                        </datalist>
                    </form>
                    <button class="btn btn-secondary" @click = "add_module_sem">
                        Add
                    </button>
                </div>
                <b-modal id="error-modal" :title="modal_header" hide-footer>
                    <p>{{ this.modal_body }}</p>
                    <b-button id="modal-ok-btn" @click="$bvModal.hide('error-modal')">OK</b-button>
                </b-modal>
            </div>
            <div class="row">
                <div class="col-8 acad-plan-total">
                    Total: {{ this.total_mc }} MCs
                </div>
            </div>
        </div>
    </body>
</html>