/* academic plan table */
.col-sm-4.col-md-3.col-lg-2.col-xl-1 {
    margin: 2px;
    padding: 2px;
    vertical-align: middle;
}

/* academic plan table - header */
.acad-plan-header {
    text-align: center;
    height: 60px;
    padding-top: 20px;
    color: #fff;
    background-color: #24305E;
}

/* academic plan table - content */
.list-group-item.item {
    font-size: 9.5px;
    text-align: left;
    border-color: #EBEFF2;
    height: 55px;
}

.list-group-item .module_code {
    font-weight: bold;
}

/* adjust font size based on academic plan table - content */
.close {
    font-size: inherit;
}

/* change last cell with total mc count to grey */
.list-group-item.item.move-false {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #d8d8d8;
    font-size: 9.5px;
    font-weight: bold;
}

/* dragging function */
/* handle cursor when hovering over cells */
.handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* apply a "closed-hand" cursor during drag operation. */
.handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* add button */
.add_feature {
    align-items: flex-start;
    vertical-align: top;
    margin-left: 40px;
}

.inputTitle {
    font-weight: 600;
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.btn {
    margin-top: 20px;
    background-color: #24305E;
    color: #fff;
    border-color: #24305E;
    height: 40px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.acad-plan-total {
    text-align: right;
    margin-left: 35px;
    font-weight: bold;
}

/* error message */
.modal {
    position: fixed;
    top: 20%;
}

.form-add {
    margin-bottom: 10px;
}

