<html>
    <head>
    </head>
    <body>
        <div class="row">
            <h2 id="title">Academic Plan</h2>
        </div>
        <div class="row">
            <div class="col-1">
                <draggable
                    :list="acadplan['y1s1']" class="list-group" handle=".handle" group="a"
                >
                    <div slot="header" class="header">
                        <h6>Y1S1</h6>
                    </div>
                    <div class="list-group-item item" v-for="element in sorted_y1s1" :key="element.mod">
                        <button type="button" class="close" v-if="element.move===true" @click="delete_module('y1s1', element)">
                            <font-awesome-icon icon="times" />
                        </button>
                        <span class="text module_code handle" v-if="element.move===true">{{ element.mod }}</span>
                        <br>
                        <span class="text handle" v-if="element.move===true">{{ element.mc }} MCs</span>
                    </div>
                </draggable>
            </div>
            <div class="col-1">
                <draggable
                    :list="acadplan['y1s2']" class="list-group" handle=".handle" group="a"
                >
                    <div slot="header" class="header">
                        <h6>Y1S2</h6>
                    </div>
                    <div class="list-group-item item" v-for="element in sorted_y1s2" :key="element.mod">
                        <button type="button" class="close" v-if="element.move===true" @click="delete_module('y1s2', element)">
                            <font-awesome-icon icon="times" />
                        </button>
                        <span class="text module_code handle" v-if="element.move===true">{{ element.mod }}</span>
                        <br>
                        <span class="text handle" v-if="element.move===true">{{ element.mc }} MCs</span>
                    </div>
                </draggable>
            </div>
            <div class="col-1">
                <draggable
                    :list="acadplan['y2s1']" class="list-group" handle=".handle" group="a"
                >
                    <div slot="header" class="header">
                        <h6>Y2S1</h6>
                    </div>
                    <div class="list-group-item item" v-for="element in sorted_y2s1" :key="element.mod">
                        <button type="button" class="close" v-if="element.move===true" @click="delete_module('y2s1', element)">
                            <font-awesome-icon icon="times" />
                        </button>
                        <span class="text module_code handle" v-if="element.move===true">{{ element.mod }}</span>
                        <br>
                        <span class="text handle" v-if="element.move===true">{{ element.mc }} MCs</span>
                    </div>
                </draggable>
            </div>
            <div class="col-1">
                <draggable
                    :list="acadplan['y2s2']" class="list-group" handle=".handle" group="a"
                >
                    <div slot="header" class="header">
                        <h6>Y2S2</h6>
                    </div>
                    <div class="list-group-item item" v-for="element in sorted_y2s2" :key="element.mod">
                        <button type="button" class="close" v-if="element.move===true" @click="delete_module('y2s2', element)">
                            <font-awesome-icon icon="times" />
                        </button>
                        <span class="text module_code handle" v-if="element.move===true">{{ element.mod }}</span>
                        <br>
                        <span class="text handle" v-if="element.move===true">{{ element.mc }} MCs</span>
                    </div>
                </draggable>
            </div>
            <div class="col-1">
                <draggable
                    :list="acadplan['y3s1']" class="list-group" handle=".handle" group="a"
                >
                    <div slot="header" class="header">
                        <h6>Y3S1</h6>
                    </div>
                    <div class="list-group-item item" v-for="element in sorted_y3s1" :key="element.mod">
                        <button type="button" class="close" v-if="element.move===true" @click="delete_module('y3s1', element)">
                            <font-awesome-icon icon="times" />
                        </button>
                        <span class="text module_code handle" v-if="element.move===true">{{ element.mod }}</span>
                        <br>
                        <span class="text handle" v-if="element.move===true">{{ element.mc }} MCs</span>
                    </div>
                </draggable>
            </div>
            <div class="col-1">
                <draggable
                    :list="acadplan['y3s2']" class="list-group" handle=".handle" group="a"
                >
                    <div slot="header" class="header">
                        <h6>Y3S2</h6>
                    </div>
                    <div class="list-group-item item" v-for="element in sorted_y3s2" :key="element.mod">
                        <button type="button" class="close" v-if="element.move===true" @click="delete_module('y3s2', element)">
                            <font-awesome-icon icon="times" />
                        </button>
                        <span class="text module_code handle" v-if="element.move===true">{{ element.mod }}</span>
                        <br>
                        <span class="text handle" v-if="element.move===true">{{ element.mc }} MCs</span>
                    </div>
                </draggable>
            </div>
            <div class="col-1">
                <draggable
                    :list="acadplan['y4s1']" class="list-group" handle=".handle" group="a"
                >
                    <div slot="header" class="header">
                        <h6>Y4S1</h6>
                    </div>
                    <div class="list-group-item item" v-for="element in sorted_y4s1" :key="element.mod">
                        <button type="button" class="close" v-if="element.move===true" @click="delete_module('y4s1', element)">
                            <font-awesome-icon icon="times" />
                        </button>
                        <span class="text module_code handle" v-if="element.move===true">{{ element.mod }}</span>
                        <br>
                        <span class="text handle" v-if="element.move===true">{{ element.mc }} MCs</span>
                    </div>
                </draggable>
            </div>
            <div class="col-1">
                <draggable
                    :list="acadplan['y4s2']" class="list-group" handle=".handle" group="a"
                >
                    <div slot="header" class="header">
                        <h6>Y4S2</h6>
                    </div>
                    <div class="list-group-item item" v-for="element in sorted_y4s2" :key="element.mod">
                        <button type="button" class="close" v-if="element.move===true" @click="delete_module('y4s2', element)">
                            <font-awesome-icon icon="times" />
                        </button>
                        <span class="text module_code handle" v-if="element.move===true">{{ element.mod }}</span>
                        <br>
                        <span class="text handle" v-if="element.move===true">{{ element.mc }} MCs</span>
                    </div>
                </draggable>
            </div>
            
            <!-- add module button -->
            <div class="col-2 add_feature">
                <p id = "inputTitle">Module Code:</p>
                <form>
                    <input type="text" class="input" list="allmodules" v-model="add_module_code"/>
                    <datalist id="allmodules">
                        <option v-for="(item, key) in allmodules" v-bind:key="key">
                            {{ item.fullname }}
                        </option>
                    </datalist>
                </form>
                <b-modal id="error-modal" :title="modal_header" hide-footer v-show=>
                    <p>{{ this.modal_body }}</p>
                    <b-button id="modal-ok-btn" @click="$bvModal.hide('error-modal')">OK</b-button>
                </b-modal>
            </div>
            <div class="col-1">
                <button class="btn btn-secondary" @click = "add_module_sem">
                    Add
                </button>
            </div>
        </div>
    </body>
</html>