.row {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
}

#title {
    margin-left: 5px;
}

.col-1 {
    margin: 0px;
    padding: 2px;
}

.list-group-item.item {
    font-size: 10px;
    text-align: left;
}

.list-group-item .module_code {
    font-weight: bold;
}

.close {
    font-size: 12px;
}

.list-group {
    background-color: #B9CCED;
}

.handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* Apply a "closed-hand" cursor during drag operation. */
.handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.header {
    text-align: center;
    height: 50px;
    padding-top: 15px;
    color: #fff;
    background-color: #24305E;;
}

.add_feature {
    align-items: flex-start;
    vertical-align: top;
}

.btn {
    margin-top: 35px;
    background-color: #24305E;
    color: #fff;
    border-color: #24305E;
}

.input {
    width: 100%
}

#inputTitle {
    font-weight: 600;
}